In [ ]:
import  numpy as np
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Datasets/dataset.csv')

In [ ]:
data.head()

,body temperature,heart rate,acceleration,stress level,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,91.840,74.20,0.318366,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91.552,72.76,0.305030,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96.000,60.00,0.302421,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90.768,68.84,0.306306,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,97.872,53.12,0.300177,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 520 non-null    int64
 1   Gender              520 non-null    object
 2   Polyuria            520 non-null    object
 3   Polydipsia          520 non-null    object
 4   sudden weight loss  520 non-null    object
 5   weakness            520 non-null    object
 6   Polyphagia          520 non-null    object
 7   Genital thrush      520 non-null    object
 8   visual blurring     520 non-null    object
 9   Itching             520 non-null    object
 10  Irritability        520 non-null    object
 11  delayed healing     520 non-null    object
 12  partial paresis     520 non-null    object
 13  muscle stiffness    520 non-null    object
 14  Alopecia            520 non-null    object
 15  Obesity             520 non-null    object
 16  class               520 non-null    object
dtypes: int64(1), object(16)
memory usage: 69.2+ KB

In [ ]:
print("Number of null values :" , data.isnull().sum().sum())

Number of null values : 0

In [ ]:
data.describe(include='all')

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
count,520.000000,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520,520
unique,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,NaN,Male,No,No,No,Yes,No,No,No,No,No,No,No,No,No,No,Positive
freq,NaN,328,262,287,303,305,283,404,287,267,394,281,296,325,341,432,320
mean,48.028846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,12.151466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,47.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,57.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,90.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
{ column: len(data[column].unique())for column in data.columns}

{'Age': 51,
 'Gender': 2,
 'Polyuria': 2,
 'Polydipsia': 2,
 'sudden weight loss': 2,
 'weakness': 2,
 'Polyphagia': 2,
 'Genital thrush': 2,
 'visual blurring': 2,
 'Itching': 2,
 'Irritability': 2,
 'delayed healing': 2,
 'partial paresis': 2,
 'muscle stiffness': 2,
 'Alopecia': 2,
 'Obesity': 2,
 'class': 2}

In [ ]:
def preprocessing(df):
    df= df.copy()

    # Gender column Binary Encoding
    df['Gender'] = df ['Gender'].replace({'Female':0,'Male':1 })

    #Symptom Column Binary Encoding
    for column in df.columns.drop(['Age','Gender','class']):
     df[column]= df[column].replace({'No':0 , 'Yes': 1})

    #train
    y=df["class"]
    X=df.drop("class", axis=1)

    #test_train_split
    X_train, X_test,y_train,y_test = train_test_split(X,y,train_size=0.7,shuffle=True,random_state=1)

    #StandardScaler
    scaler=StandardScaler()
    scaler.fit(X_train)
    X_train=pd.DataFrame(scaler.transform(X_train),index=X_train.index , columns=X_train.columns)
    X_test=pd.DataFrame(scaler.transform(X_test),index=X_test.index, columns=X_test.columns)

    return X_train,X_test,y_train,y_test

In [ ]:
X_train,X_test,y_train,y_test= preprocessing(data)

In [ ]:
X_train

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity
122,-0.658902,0.740902,-0.994521,1.129159,-0.846747,0.841974,1.104315,-0.560428,-0.870893,1.044966,1.682730,1.068259,1.148247,1.333651,-0.745356,2.165064
168,-0.913060,0.740902,-0.994521,-0.885615,-0.846747,0.841974,-0.905539,-0.560428,-0.870893,-0.956969,-0.594273,1.068259,-0.870893,-0.749821,1.341641,-0.461880
23,0.018852,0.740902,-0.994521,1.129159,1.180990,0.841974,-0.905539,-0.560428,1.148247,1.044966,1.682730,1.068259,-0.870893,-0.749821,-0.745356,-0.461880
13,1.120204,0.740902,1.005510,1.129159,1.180990,0.841974,1.104315,1.784351,1.148247,1.044966,-0.594273,-0.936103,-0.870893,-0.749821,1.341641,2.165064
61,-1.082499,-1.349706,1.005510,1.129159,1.180990,0.841974,1.104315,-0.560428,1.148247,1.044966,-0.594273,1.068259,1.148247,1.333651,-0.745356,-0.461880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,0.018852,0.740902,1.005510,1.129159,1.180990,0.841974,-0.905539,-0.560428,-0.870893,1.044966,-0.594273,-0.936103,1.148247,-0.749821,1.341641,-0.461880
144,1.713239,0.740902,1.005510,1.129159,-0.846747,-1.187685,1.104315,-0.560428,1.148247,1.044966,1.682730,-0.936103,1.148247,-0.749821,-0.745356,-0.461880
72,1.459081,-1.349706,-0.994521,-0.885615,-0.846747,-1.187685,-0.905539,1.784351,-0.870893,-0.956969,-0.594273,-0.936103,-0.870893,-0.749821,-0.745356,-0.461880
235,-1.844973,0.740902,-0.994521,-0.885615,-0.846747,-1.187685,-0.905539,-0.560428,-0.870893,-0.956969,-0.594273,-0.936103,-0.870893,-0.749821,-0.745356,-0.461880
37,1.289643,0.740902,1.005510,1.129159,1.180990,0.841974,1.104315,-0.560428,1.148247,-0.956969,-0.594273,-0.936103,-0.870893,1.333651,1.341641,2.165064

In [ ]:
y_test

273    Negative
272    Negative
329    Negative
480    Negative
173    Positive
         ...
335    Negative
407    Negative
330    Negative
257    Positive
95     Positive
Name: class, Length: 156, dtype: object

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC , SVC
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier

In [ ]:
models= {
    'LogisticRegrsssion ': LogisticRegression(),
    'K-NearstNeighbors  ': KNeighborsClassifier(),
    '      DecisionTree ': DecisionTreeClassifier(),
    'SVM       (Linear) ': LinearSVC(),
    '              SVM  ': SVC(),
    '    Randomforest   ': RandomForestClassifier(),
    'GradientBoosting   ': GradientBoostingClassifier(),


}
for name,model in models.items():
    model.fit(X_train,y_train)
    print(name+ ': trained')

LogisticRegrsssion : trained
K-NearstNeighbors  : trained
      DecisionTree : trained
SVM       (Linear) : trained
              SVM  : trained
    Randomforest   : trained
GradientBoosting   : trained

In [ ]:
for name,model in models.items():
    print(name+ ": {:.2f}%".format(model.score(X_test,y_test) * 100))

LogisticRegrsssion : 92.31%
K-NearstNeighbors  : 90.38%
      DecisionTree : 97.44%
SVM       (Linear) : 92.31%
              SVM  : 95.51%
    Randomforest   : 98.08%
GradientBoosting   : 98.08%